<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %date{ISO8601} [%t] %-5p %c - %m%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="TestSumoAppender1" class="com.sumologic.logback.SumoLogicAppender">
        <encoder>
            <Pattern>
                %date{ISO8601} [%t] %-5p %c - %m%n
            </Pattern>
        </encoder>
        <url>http://localhost:10010</url>
        <messagesPerRequest>10000</messagesPerRequest>
        <maxFlushIntervalMs>100</maxFlushIntervalMs>
        <flushingAccuracyMs>10</flushingAccuracyMs>
        <sourceName>mySource</sourceName>
        <sourceHost>myHost</sourceHost>
        <sourceCategory>myCategory</sourceCategory>
    </appender>

    <appender name="TestSumoAppender2" class="com.sumologic.logback.SumoLogicAppender">
        <encoder>
            <Pattern>
                %date{ISO8601} [%t] %-5p %c - %m%n
            </Pattern>
        </encoder>
        <url>http://localhost:10010</url>
        <messagesPerRequest>10000</messagesPerRequest>
        <maxFlushIntervalMs>100</maxFlushIntervalMs>
        <flushingAccuracyMs>10</flushingAccuracyMs>
    </appender>

    <appender name="TestSumoAppenderAscii" class="com.sumologic.logback.SumoLogicAppender">
        <encoder>
            <Charset>US-ASCII</Charset>
            <Pattern>%m%n</Pattern>
        </encoder>
        <url>http://localhost:10010</url>
        <messagesPerRequest>10000</messagesPerRequest>
        <maxFlushIntervalMs>100</maxFlushIntervalMs>
        <flushingAccuracyMs>10</flushingAccuracyMs>
    </appender>

    <appender name="TestSumoAppenderUtf16" class="com.sumologic.logback.SumoLogicAppender">
        <encoder>
            <Charset>UTF-16</Charset>
            <Pattern>%m%n</Pattern>
        </encoder>
        <url>http://localhost:10010</url>
        <messagesPerRequest>10000</messagesPerRequest>
        <maxFlushIntervalMs>100</maxFlushIntervalMs>
        <flushingAccuracyMs>10</flushingAccuracyMs>
    </appender>

    <appender name="TestSumoAppenderJsonLayout" class="com.sumologic.logback.SumoLogicAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
        <url>http://localhost:10010</url>
        <messagesPerRequest>10000</messagesPerRequest>
        <maxFlushIntervalMs>100</maxFlushIntervalMs>
        <flushingAccuracyMs>10</flushingAccuracyMs>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
    <Logger name="TestAppender1" level="info">
        <appender-ref ref="TestSumoAppender1" />
    </Logger>
    <Logger name="TestAppender2" level="info">
        <appender-ref ref="TestSumoAppender2" />
    </Logger>
    <Logger name="TestAppenderAscii" level="info">
        <appender-ref ref="TestSumoAppenderAscii" />
    </Logger>
    <Logger name="TestAppenderUtf16" level="info">
        <appender-ref ref="TestSumoAppenderUtf16" />
    </Logger>
    <Logger name="TestAppenderJsonLayout" level="info">
        <appender-ref ref="TestSumoAppenderJsonLayout" />
    </Logger>

</configuration>